.top-bar-top {
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    width: 100%;
    /* Garante que a barra superior ocupe toda a largura */
}

.container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo img {
    width: 150px;
    height: auto;
}


/* Centraliza o conteúdo */
.menu ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {
    width: 100%;
    /* Faz o menu ocupar toda a largura */
}

.menu ul {
    display: flex;
    justify-content: center;
    /* Centraliza os itens do menu */
    padding: 20px;
    /* Remove o padding padrão */
    list-style-type: none;
    /* Remove os marcadores de lista */
}

.menu ul li {
    display: inline-block;
    margin-right: 40px;
    /* Espaçamento à direita entre os itens */
}

.menu ul li:last-child {
    margin-right: 200px;
    /* Remove o espaçamento à direita do último item */
}

/* Remove o estilo de link padrão */
.menu ul li a {
    text-decoration: none;
    color: inherit;
    /* Herda a cor do texto do elemento pai */
}

.menu ul li.active a {
    border-bottom: 2px solid #BBBBBB;
    /* Adiciona uma linha na parte inferior do link */
}


.imagem-ufpi {
    position: absolute;
    top: 20px;
    /* Ajuste conforme necessário */
    right: 4%;
    /* Ajuste conforme necessário */
    width: 50px;
    /* Ajuste conforme necessário */
    height: 50px;
    /* Ajuste conforme necessário */
}

